<!-- 
<div class="main-panel">
    <h3 class="header u-pd-top-xl u-pd-hz-l u-pd-vt-m">Outils</h3>

    <button type="button" class="btn btn-primary btn1 button-validate u-mg-hz-m u-mg-vt-s">Progresser : Réaliser un objectif concret d'ici la fin de journée</button>


    <div class="btn btn1 u-mg-hz-m u-mg-vt-s">
    </div>
    <div class="btn btn2 u-mg-hz-m u-mg-vt-s">
    </div>
    <div class="btn btn3 u-mg-hz-m u-mg-vt-s">
    </div>
</div> -->

<!-- <nav class="navbar navbar-dark bg-primary">
    <div class="navbar-brand u-width-full u-center">
        Votre coaching
    </div>
</nav>  -->
<div class="card u-width-full">
    <img class="card-img-top" src="../../../assets/images/psy.jpg" alt="Card image cap">
    <div class="card-body  u-mg-s">
        <h5 class="card-title">Youna</h5>
        <div *ngIf="introduction">
            <p class="card-text u-mg-vt-m">Vivre une vie épanouie, c'est possible.</p>
            <p class="card-text u-mg-vt-m">Vous avez déjà les réponses aux problématiques de votre vie quotidienne. Vous avez seulement besoin qu'on vous pose les bonnes questions.</p>
            <p class="card-text u-mg-vt-m">Je m'apelle Youna, et c'est mon rôle en tant qu'intelligence artificelle !</p>
            <a (click)="skipIntroduction()" class="btn btn4 btn-primary u-mg-vt-s u-width-full">J'ai compris</a>
        </div>
    <div *ngIf="!introduction">
        <p class="card-text u-mg-vt-s">Super ! Que souhaitez-vous faire ?</p>
        <a (click)="startChat('day')" class="btn btn4 btn-primary u-mg-vt-s u-width-full">Le Challenge du jour</a>
        <a (click)="startChat('defaut')" class="btn btn2 btn-primary u-mg-vt-s u-width-full">Mieux me comprendre</a>
        <a (click)="startChat('discussion')" class="btn btn3 btn-primary u-mg-vt-s u-width-full">Corriger mes automatismes néfastes</a>
    </div>
    </div>
</div>

<!-- 
<div class="header-panel">
    <div class="header-panel-content">
        <div class="u-pd-l u-flex title u-center">
            <h3 class="header">Que souhaitez-vous faire aujourd'hui ?</h3>
        </div>
        <div class="u-pd-vt-s u-pd-hz-l u-flex"><button type="button" class="btn btn-primary button-validate">Progresser : Réaliser un objectif concret d'ici la fin de journée</button></div>
        <div class="u-pd-vt-s u-pd-hz-l u-flex"><button type="button" class="btn btn-primary button-validate">Vous comprendre : Faites le point sur vos motivations profondes</button></div>
        <div class="u-pd-vt-s u-pd-hz-l u-flex"><button type="button" class="btn btn-primary button-validate">Vous détendre : Petites discussions pour se changer l'esprit</button></div>
    </div>
</div> -->

<div *ngIf="chat==='defaut'">
    <df-messenger intent="WELCOME" expand="true" chat-title="Youna - Me comprendre" agent-id="ff2bb02a-18de-496f-a595-73b9da2382e3"
        language-code="fr"></df-messenger>
</div>
<div *ngIf="chat==='day'">
    <df-messenger intent="WELCOME" expand="true" chat-title="Youna - Le Challenge du jour"
        agent-id="7c52b852-101d-44b8-9861-cb3b42e09f24" language-code="fr"></df-messenger>
</div>
<div *ngIf="chat==='discussion'">
    <df-messenger intent="WELCOME" expand="true" chat-title="Youna - Automatismes" agent-id="bb156c8c-1f33-457c-ad22-8052ab7e305d"
        language-code="fr"></df-messenger>

</div>