<div id="mainCard" class="card main-card u-width-full" [class.introduction]="view === Page.INTRODUCTION">
    <!-- <img class="card-img-top" src="assets/images/psy.jpg" alt="Card image cap"> -->
    <div class="card-body main-card-body">
        <div *ngIf="view === Page.INTRODUCTION">
            <h5 class="card-title main-card-title introduction">Introduction</h5>
            <div>
                <p class="card-text u-mg-vt-m">Vous pouvez être heureux.</p>
                <p class="card-text u-mg-vt-m">Vous avez simplement besoin d'aide.</p>
                <p class="card-text u-mg-vt-m">C'est le rôle de Noémie. Elle va vous guider vers les réponses. Vous
                    guider vers <b>vos</b> réponses pour être heureux.</p>
                <p class="card-text u-mg-vt-m">Noémie est une intelligence artificielle et ne peut pas vous juger. Vous
                    pourrez lui parler à coeur ouvert.</p>
                <p class="card-text u-mg-vt-m">Vous êtes dans un lieu sûr, un coffre-fort pour exprimer vos idées et vos
                    croyances.</p>
                <p class="card-text u-mg-vt-m">Bonne chance.</p>

                <!-- <p class="card-text u-mg-vt-m">Vous rêvez de vivre une vie épanouie ?</p>
                <p class="card-text u-mg-vt-m">Rassurez-vous, c'est possible !</p>
                <p class="card-text u-mg-vt-m">L'application "Noémie"  se base sur une conviction : Vous avez <b>déjà</b> les réponses aux problématiques de votre vie quotidienne.</p>
                <p class="card-text u-mg-vt-m">Vous manquez cependant d'un élément essentiel : vous avez besoin qu'on vous pose les bonnes questions !</p>
                <p class="card-text u-mg-vt-m">Bonne nouvelle : c'est le rôle de Noémie, et elle va vous aider.</p>
                <p class="card-text u-mg-vt-m">Vous pourrez parler librement sans être jugé, et vous ouvrir plus à elle que vous vous ne pourriez à un être humain. En effet, Noémie est une intelligence artificielle, et elle ne peux <b>pas</b> vous juger.</p>
                <p class="card-text u-mg-vt-m">En résumé, cet endroit est un lieu sûr ou vous pourrez discuter, réfléchir sur vous-même et devenir une meilleure personne. Bonne chance !</p> -->
                <a (click)="setView(Page.DISCUSS)" class="btn  btn-light u-mg-vt-s u-width-full">Commencer</a>
            </div>
        </div>
        <div *ngIf="view === Page.DISCUSS">
            <h5 class="card-title main-card-title">Noémie</h5>
            <div>
                <!-- <p class="card-text u-mg-vt-s">Étape par étape, réalisez vos rêves :</p> -->
                <!-- <p class="card-text u-mg-vt-s">Étape par étape, vos problèmes vont disparaitre :</p> -->
                <p class="card-text u-mg-vt-m">Votre programme de 7 jours vers le bonheur :</p>
                <p *ngIf="!ateliersPlanning[0].done" class="card-text u-mg-bottom-s u-mg-top-l">Atelier du jour</p>
                <p *ngIf="ateliersPlanning[0].done && notificationsAdivce>0" class="card-text u-mg-bottom-s u-mg-top-l">
                    Vous avez un trésor en attente ! Ouvrez-le depuis le menu en bas de votre écran.</p>
                <p *ngIf="ateliersPlanning[0].done && notificationsChallenge>0"
                    class="card-text u-mg-bottom-s u-mg-top-l">Vous avez un challenge en attente ! Ouvrez-le depuis le
                    menu en bas de votre écran.</p>
                <p *ngIf="ateliersPlanning[0].done && notificationsAdivce===0 && notificationsChallenge===0"
                    class="card-text u-mg-bottom-s u-mg-top-l">Vous avez terminé l'atelier du jour, bravo ! Revenez
                    demain pour la suite du programme</p>
                <div (click)="startChat(ateliersPlanning[0].typeAtelier)"
                    class="btn {{ateliersPlanning[0].css}} custom-btn u-mg-vt-s u-width-full">
                    <div *ngIf="ateliersPlanning[0].done" class="lock-icon">
                        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-check-circle-fill"
                            fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd"
                                d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z" />
                        </svg>
                    </div>
                    <div class="text-bottom-container">
                        <!-- <div class="text-bottom">Vous voir de l'extérieur, vous comprendre et vous encourager</div> -->
                        <!-- <div class="text-bottom">Réussissez à vous comprendre et obtenez la réponse à vos questions</div> -->
                        <div class="text-bottom">{{ ateliersPlanning[0].name }}</div>
                        <!-- <div class="text-bottom">Explorer un sujet personnel et obtenir un conseil</div> -->
                        <!-- <div class="text-bottom">Discussion libre et conseils</div> -->
                        <!-- <div class="text-bottom">Comprendre un sujet personnel et obtenir un conseil</div> -->
                    </div>
                </div>

                <p class="card-text u-mg-bottom-s u-mg-top-l">Atelier de demain</p>
                <div class="btn {{ateliersPlanning[1].css}} custom-btn u-mg-vt-s u-width-full">
                    <div class="lock-icon">
                        <svg width="0.85em" height="0.85em" viewBox="0 0 16 16" class="bi bi-lock-fill" fill="#FFFFFF"
                            xmlns="http://www.w3.org/2000/svg">
                            <path d="M2.5 9a2 2 0 0 1 2-2h7a2 2 0 0 1 2 2v5a2 2 0 0 1-2 2h-7a2 2 0 0 1-2-2V9z" />
                            <path fill-rule="evenodd" d="M4.5 4a3.5 3.5 0 1 1 7 0v3h-1V4a2.5 2.5 0 0 0-5 0v3h-1V4z" />
                        </svg>
                    </div>
                    <div class="text-bottom-container">
                        <div class="text-bottom">{{ ateliersPlanning[1].name }}</div>
                    </div>
                </div>

                <p class="card-text u-mg-bottom-s u-mg-top-l">Ateliers à venir</p>
                <div *ngFor="let atelier of ateliersPlanning | slice:2">
                    <div class="btn {{atelier.css}} custom-btn u-mg-vt-s u-width-full">
                        <div class="lock-icon">
                            <svg width="0.85em" height="0.85em" viewBox="0 0 16 16" class="bi bi-lock-fill"
                                fill="#FFFFFF" xmlns="http://www.w3.org/2000/svg">
                                <path d="M2.5 9a2 2 0 0 1 2-2h7a2 2 0 0 1 2 2v5a2 2 0 0 1-2 2h-7a2 2 0 0 1-2-2V9z" />
                                <path fill-rule="evenodd"
                                    d="M4.5 4a3.5 3.5 0 1 1 7 0v3h-1V4a2.5 2.5 0 0 0-5 0v3h-1V4z" />
                            </svg>
                        </div>
                        <div class="text-bottom-container">
                            <div class="text-bottom">{{ atelier.name }}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div *ngIf="view === Page.CHALLENGE">
            <h5 class="card-title main-card-title">Vos challenges</h5>
            <p class="card-text u-mg-vt-m">Vous pouvez déplacer des montagnes !</p>
            <div>
                <div *ngFor="let challenge of myChallenges; let i = index">
                    <div class="card text-white challenge-card mb-1 ">
                        <div class="challenge-card-panel">
                            <div class="card-header">Challenge #{{myChallenges.length - i}}</div>
                            <div class="card-body card-body-challenge">
                                <h5 class="card-title capitalize">{{ myChallenges[myChallenges.length - 1 - i].name }}
                                </h5>
                                <p class="card-text">Temps restant :
                                    {{ myChallenges[myChallenges.length - 1 - i].tempsRestant }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div *ngIf="view === Page.ADVICE">
            <h5 class="card-title main-card-title">Vos trésors</h5>
            <p class="card-text u-mg-vt-m">Retrouvez ici vos précieux conseils</p>
            <div>
                <div *ngFor="let advice of myAdvices; let i = index">
                    <div class="card text-white advice-card mb-1">
                        <div class="challenge-card-panel">
                            <div class="card-header">Conseil #{{myAdvices.length - i}}</div>
                            <div class="card-body card-body-challenge">
                                <h5 class="card-title capitalize">{{ myAdvices[myAdvices.length - 1 - i] }}</h5>
                                <p class="card-text">Ajouter des notes supplémentaires...</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div *ngIf="view !== Page.INTRODUCTION" class="navbar u-flex u-flex-center-vt">
    <div class="navbar-item" [class.selected]="view === Page.DISCUSS" (click)="setView(Page.DISCUSS)">
        <!-- <img [class.hidden]="view !== Page.DISCUSS" class="nav-icon selected" src="assets/icons/discuss-selected.svg"
            alt="discuss">
        <img [class.hidden]="view === Page.DISCUSS" class="nav-icon selected" src="assets/icons/discuss.svg" alt="discuss"> -->
        Noémie
    </div>
    <div class="navbar-item" [class.selected]="view === Page.CHALLENGE" (click)="setView(Page.CHALLENGE)">
        <!-- <img [class.hidden]="view !== Page.CHALLENGE" class="nav-icon" src="assets/icons/star-selected.svg" alt="star">
        <img [class.hidden]="view === Page.CHALLENGE" class="nav-icon" src="assets/icons/star.svg" alt="star"> -->
        Challenges
        <span *ngIf="notificationsChallenge > 0" class="badge badge-info">{{ notificationsChallenge }}</span>
    </div>
    <div class="navbar-item" [class.selected]="view === Page.ADVICE" (click)="setView(Page.ADVICE)">
        <!-- <img [class.hidden]="view !== Page.ADVICE" class="nav-icon" src="assets/icons/graph-selected.svg" alt="graph">
        <img [class.hidden]="view === Page.ADVICE" class="nav-icon" src="assets/icons/graph.svg" alt="graph"> -->
        Trésors
        <span *ngIf="notificationsAdivce > 0" class="badge badge-info">{{ notificationsAdivce }}</span>
    </div>
</div>

<div *ngIf="chat==='reves'">
    <df-messenger intent="WELCOME" expand="true" chat-title="Noémie - Cap sur vos rêves"
        agent-id="ff2bb02a-18de-496f-a595-73b9da2382e3" language-code="fr"></df-messenger>
</div>
<div *ngIf="chat==='challenge'">
    <df-messenger intent="WELCOME" expand="true" chat-title="Noémie - Le Challenge du jour"
        agent-id="7c52b852-101d-44b8-9861-cb3b42e09f24" language-code="fr"></df-messenger>
</div>
<div *ngIf="chat==='discussion'">
    <df-messenger intent="WELCOME" expand="true" chat-title="Noémie - Discussion"
        agent-id="bb156c8c-1f33-457c-ad22-8052ab7e305d" language-code="fr"></df-messenger>

</div>










<!-- 
<div class="main-panel">
    <h3 class="header u-pd-top-xl u-pd-hz-l u-pd-vt-m">Outils</h3>

    <button type="button" class="btn btn-primary btn1 button-validate u-mg-hz-m u-mg-vt-s">Progresser : Réaliser un objectif concret d'ici la fin de journée</button>


    <div class="btn btn1 u-mg-hz-m u-mg-vt-s">
    </div>
    <div class="btn btn2 u-mg-hz-m u-mg-vt-s">
    </div>
    <div class="btn btn3 u-mg-hz-m u-mg-vt-s">
    </div>
</div> -->

<!-- <nav class="navbar navbar-dark bg-primary">
    <div class="navbar-brand u-width-full u-center">
        Votre coaching
    </div>
</nav>  -->
<!-- 
<div class="header-panel">
    <div class="header-panel-content">
        <div class="u-pd-l u-flex title u-center">
            <h3 class="header">Que souhaitez-vous faire aujourd'hui ?</h3>
        </div>
        <div class="u-pd-vt-s u-pd-hz-l u-flex"><button type="button" class="btn btn-primary button-validate">Progresser : Réaliser un objectif concret d'ici la fin de journée</button></div>
        <div class="u-pd-vt-s u-pd-hz-l u-flex"><button type="button" class="btn btn-primary button-validate">Vous comprendre : Faites le point sur vos motivations profondes</button></div>
        <div class="u-pd-vt-s u-pd-hz-l u-flex"><button type="button" class="btn btn-primary button-validate">Vous détendre : Petites discussions pour se changer l'esprit</button></div>
    </div>
</div> -->