@import "../../../styles/variables/variables.scss";
@import "../../../styles/global/mixins/separator";

.card {
    background-color: #f7f7f7;
    height: 100%;
    width: 100%;
    overflow: auto;
}

.btn {
    border-color: transparent !important;
    font-weight: 510;
    padding: 15px 10px;
    color: white;
}

.btn1 {
    background-color: #8F98FF;
}

.btn2 {
    background-color: #FF7648;
}

.btn3 {
    background-color: #4DC591;
}

.btn4 {
    background-color: #65A4DA;
}

.navbar {
    position: absolute;
    bottom: 0px;
    height: 60px;
    width: 100%;;
    background-color: white;
    justify-content: center;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
}

.nav-icon {
    height: 30px;
    margin: 0px 20px;
}


// .main-panel {
//     background-color: #f7f7f7;
//     height: 100%;
//     width: 100%;
// }

// .header {
//     font-weight: bold;
// }

// .btn {
//     height: 92px;
//     width: 330px;
//     border-radius: .5rem;   
//     background-position: right !important;
// }

// .btn1 {
//     background: url("../../../assets/images/btn1.PNG") ;
//     background-color: #8F98FF;
// }

// .btn2 {
//     background: url("../../../assets/images/btn2.PNG") ;
// }

// .btn3 {
//     background: url("../../../assets/images/btn3.PNG") ;
// }







// .header-panel {
//     background: url("../../../assets/images/psy.jpg") ;
//     width: 100%;
//     height: 100%;
//     background-size: cover;
//     background-repeat: no-repeat;
//     color: white;
// }

// .header-panel-content {
//     background: linear-gradient(0deg, rgba(0, 0, 0, 0.0001) 0%, rgba(0, 0, 0, 0.65) 100%);
//     height: 100%;
// }

// .header {
//     border: 1px solid;
//     padding: 10px;
//     border-radius: .25rem;
// }   

// h1 {
//     font-size: 64px;
//     font-weight: 600;
//     text-align: center;
// }

// h2 {
//     font-size: 42px;
//     line-height: 63px;
//     font-weight: 600;
//     text-align: center;
// }

// // .btn {
// //     background-color: #42A5F5;
    
// //     font-family: 'Roboto', sans-serif;
// //     font-size: 18px;
// //     color: white;
// // }

// .form-header {
//     height: 70px;
//     padding: 20px;

// }

// .button-validate {
//     padding: 10px;
// }

// .button-validate-container {
//     height: 70px;

// }

// .text-container {
//     justify-content: space-around
// }

// .text {
//     max-width: 450px;
//     text-align: center;
// }

// .number {
//     height: 35px;
//     width: 35px;
//     background-color: #4679C6;
//     border-radius: 50%;
//     color: white;
//     font-weight: bold;
// }