@import "../../../styles/variables/variables.scss";
@import "../../../styles/global/mixins/separator";

.main-card {
    background: url("../../../assets/images/psy.jpg") no-repeat center center fixed;
    background-size: cover;
    background-color: #f7f7f7;
    height: calc(100% - 45px);
    width: 100%;
    overflow: auto;

    .card-body {
        background: linear-gradient(0deg, rgba(10, 52, 90, 1) 35%, rgba(0, 0, 0, 0.0001) 100%);
        min-height: auto;
    }

    .card-body-challenge {
        // background: linear-gradient(0deg, rgba(10, 52, 90, 0.25) 0%, rgba(10, 52, 90, 0.25) 100%);
        background: transparent;
    }

    
    .challenge-card-panel {
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.45) 0%, rgba(0, 0, 0, 0) 100%);
    }

    &.introduction {
        height: 100%;
    }

    
    .main-card-title {
        // background-color: #0a345a;
        color: transparent;
        margin-left: 60px;
        margin-right: 60px;
        /* width: 100px; */
        /* padding: 5px; */
        border-radius: 25px;
        text-align: center;
        height: 100%;
        margin-bottom: 55vh;
}

    .card-text {
        color: white;
        background-color: rgba(0, 0, 0, 0.3);
        border-radius: 20px;
        padding: 15px;
    }
}

.challenge-card {
    background-color: #244d74;
    background: url("../../../assets/images/challenge2.jpg") no-repeat center center fixed;
    background-size: cover;
}

.advice-card {
    background-color: #244d74;
    background: url("../../../assets/images/advice.jpg") no-repeat center center fixed;
    background-size: cover;
}

.custom-btn {
    text-align: left;
    background-repeat: no-repeat;
    background-position: right;
    font-weight: 510;
    height: 150px;
    padding: 0px;
    border-radius: 20px;
    color: white;
    border: 1px solid grey;
    // 
}

.text-bottom-container {
    background: linear-gradient(0deg, rgba(10, 52, 90, 1) 0%, rgba(10, 52, 90, 0.1) 70%);
    height: 100%;
    border-radius: 20px;
    padding: 20px;
    position: relative;
}

.text-bottom {
    position: absolute;
    bottom: 10px;
}

.btn1 {
    background-color: #8F98FF;
}

.btn2 {
    // background-color: #FF7648;
    background-image: url('../../../assets/images/btn2.jpg');
}

.btn3 {
    // background-color: #4DC591;
    background-image: url('../../../assets/images/btn3.jpg');
    // background-color: #4DC591;
}

.btn4 {
    // background-color: #65A4DA;
    background-image: url('../../../assets/images/btn4.jpg');
}

.navbar {
    position: absolute;
    bottom: 0px;
    height: 60px;
    width: 100%;;
    background: linear-gradient(0deg, rgb(22, 75, 126) 0%, rgb(10, 52, 90) 100%);
    background-color: rgb(10, 52, 90);
    // box-shadow: 10px 10px 10px 7px black;
    // border: 1px solid rgba(0,0,0,.125);
    justify-content: center;
    border-radius: 20px 20px 0% 0%;

}

.nav-icon {
    height: 21px;
    margin: auto;
}

.navbar-item {
    // display: grid;
    margin: 0px 20px;
    color: grey;
    &.selected {
        color: white;
    }
}

.hidden {
    display: none;
}

.badge {
    margin-left: -15px;
}

.capitalize:first-letter {
    text-transform: capitalize
}


// .main-panel {
//     background-color: #f7f7f7;
//     height: 100%;
//     width: 100%;
// }

// .header {
//     font-weight: bold;
// }

// .btn {
//     height: 92px;
//     width: 330px;
//     border-radius: .5rem;   
//     background-position: right !important;
// }

// .btn1 {
//     background: url("../../../assets/images/btn1.PNG") ;
//     background-color: #8F98FF;
// }

// .btn2 {
//     background: url("../../../assets/images/btn2.PNG") ;
// }

// .btn3 {
//     background: url("../../../assets/images/btn3.PNG") ;
// }







// .header-panel {
//     background: url("../../../assets/images/psy.jpg") ;
//     width: 100%;
//     height: 100%;
//     background-size: cover;
//     background-repeat: no-repeat;
//     color: white;
// }

// .header-panel-content {
//     background: linear-gradient(0deg, rgba(0, 0, 0, 0.0001) 0%, rgba(0, 0, 0, 0.65) 100%);
//     height: 100%;
// }

// .header {
//     border: 1px solid;
//     padding: 10px;
//     border-radius: .25rem;
// }   

// h1 {
//     font-size: 64px;
//     font-weight: 600;
//     text-align: center;
// }

// h2 {
//     font-size: 42px;
//     line-height: 63px;
//     font-weight: 600;
//     text-align: center;
// }

// // .btn {
// //     background-color: #42A5F5;
    
// //     font-family: 'Roboto', sans-serif;
// //     font-size: 18px;
// //     color: white;
// // }

// .form-header {
//     height: 70px;
//     padding: 20px;

// }

// .button-validate {
//     padding: 10px;
// }

// .button-validate-container {
//     height: 70px;

// }

// .text-container {
//     justify-content: space-around
// }

// .text {
//     max-width: 450px;
//     text-align: center;
// }

// .number {
//     height: 35px;
//     width: 35px;
//     background-color: #4679C6;
//     border-radius: 50%;
//     color: white;
//     font-weight: bold;
// }